@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.construction-gif {
    width: 400px;
    max-width: 100%;
}

.construction-message {
    margin-top: 24px;
    padding: 12px;
    border-radius: 8px;
    border: solid 2px #000000;
    box-shadow: 4px 4px #cacaca;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.construction-message > p {
    color: #1f1f1f;
    line-height: 150%;
}

.construction-message > p:first-of-type {
    font-size: 28px;
}