.bright {
  filter: opacity(0.8);
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 46px;
}

.container div {
  width: 100%;
  cursor: pointer;
}

.container img {
  transition: filter 0.3s ease-in-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.imageContainer,
.skeleton {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 16px;
}

@media screen and (min-width: 850px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
