.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 100%;
}

.container h1 {
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  font-size: 1.6rem;
}

.container ul {
  font-family: 'Lato';
  font-weight: 300;
}

.container li {
  display: inline;
}

.container a {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline !important;
  text-underline-offset: 8px;
}

.container li:not(:last-of-type) {
  margin-right: 16px;
}

@media screen and (min-width: 650px) {
  .container {
    flex-direction: row;
  }
}
