.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.pageOutlet {
  padding: 0px 24px 24px 24px;
  flex: 1;
}

@media screen and (min-width: 970px) {
  .pageOutlet {
    padding: 24px 24px 24px 0px;
  }

  .container {
    flex-direction: row;
  }
}
