.container {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  max-width: 1650px;
  margin: auto;
  padding-top: 48px;
  padding-bottom: 120px;
  min-height: 100dvh;
}

.container,
.footerPadding {
  padding-left: 32px;
  padding-right: 32px;
}

.footerPadding {
  padding-top: 64px;
  padding-bottom: 64px;
  flex: 1;
}

@media screen and (min-width: 650px) {
  .container,
  .footerPadding {
    padding-left: 64px;
    padding-right: 64px;
  }
}
