@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: normal;
}
